<h3>{{ title }}</h3>
<div class="row">
  {% for category in categories %}
    <div class="product-layout col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-primary category-wall-panel">
        <div class="panel-heading category-wall-panel-heading">
          <h4 class="panel-title category-wall-panel-title text-center">
            <a href="{{ category.href }}" class="category-wall-panel-title-link">{{ category.name }}</a>
          </h4>
        </div>
        {% if category.image_status or category.description %}
        <div class="panel-body category-wall-panel-body text-center">
          {% if category.image_status %}
          <a href="{{ category.href }}" class="thumbnail category-wall-panel-body-link">
            <img src="{{ category.image }}" alt="{{ category.name }}" class="category-wall-panel-body-image">
          </a>
          {% endif %}
          {% if category.description %}
            <p class="category-wall-panel-body-description">{{ category.description }}</p>
          {% endif %}
        </div>
        {% endif %}
        {% if category.children %}
          <div class="panel-footer category-wall-panel-footer">
            <div class="list-group category-wall-list-group">
              {% for child in category.children %}
                <a href="{{ child.href }}" class="list-group-item category-wall-list-group-item">{{ child.name }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
