{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success" name="apply" value="1"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ url_cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }} <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% if error_title or error_name or error_width or error_height or error_length or error_limit or error_categories_selected_minimum or error_categories_custom_minimum %}
        <ul>
          {% if error_title %}
            {% for title in error_title %}
              <li class="text-muted">{{ title }}</li>
            {% endfor %}
          {% endif %}
          {% if error_name %}
            <li class="text-muted">{{ error_name }}</li>
          {% endif %}
          {% if error_width %}
            <li class="text-muted">{{ error_width }}</li>
          {% endif %}
          {% if error_height %}
            <li class="text-muted">{{ error_height }}</li>
          {% endif %}
          {% if error_length %}
            <li class="text-muted">{{ error_length }}</li>
          {% endif %}
          {% if error_limit %}
            <li class="text-muted">{{ error_limit }}</li>
          {% endif %}
          {% if error_categories_selected_minimum %}
            <li class="text-muted">{{ error_categories_selected_minimum }}</li>
          {% endif %}
          {% if error_categories_custom_minimum %}
            <li class="text-muted">{{ error_categories_custom_minimum }}</li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} {{ data_extension_name }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ url_action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-category" data-toggle="tab">{{ tab_category }}</a></li>
            <li><a href="#tab-subcategory" data-toggle="tab">{{ tab_subcategory }}</a></li>
            <li><a href="#tab-info" data-toggle="tab">{{ tab_info }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    <option value="1" {% if status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-height-status">{{ entry_height_status }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_height_status" id="input-height-status" class="form-control">
                    <option value="1" {% if module_ocn_category_wall_pro_height_status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if module_ocn_category_wall_pro_height_status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <hr>
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li {% if loop.first %}class="active"{% endif %}><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-title--{{ language.language_id }}">{{ entry_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_ocn_category_wall_pro_title[{{ language.language_id }}][title]" value="{{ module_ocn_category_wall_pro_title[language.language_id]['title'] }}" placeholder="{{ entry_title }}" id="input-title--{{ language.language_id }}" class="form-control">
                      {% if error_title[language.language_id] %}
                        <div class="text-danger">{{ error_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="tab-category">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image-status">{{ entry_image }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_image_status" id="input-image-status" class="form-control">
                    <option value="1" {% if module_ocn_category_wall_pro_image_status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if module_ocn_category_wall_pro_image_status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-image-width">{{ entry_image_width }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ocn_category_wall_pro_image_width" value="{{ module_ocn_category_wall_pro_image_width }}" placeholder="220" id="input-image-width" class="form-control">
                  {% if error_width %}
                    <div class="text-danger">{{ error_width }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-image-height">{{ entry_image_height }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ocn_category_wall_pro_image_height" value="{{ module_ocn_category_wall_pro_image_height }}" placeholder="220" id="input-image-height" class="form-control">
                  {% if error_height %}
                    <div class="text-danger">{{ error_height }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-description-status">{{ entry_description }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_description_status" id="input-description-status" class="form-control">
                    <option value="1" {% if module_ocn_category_wall_pro_description_status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if module_ocn_category_wall_pro_description_status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-description-length">{{ entry_description_length }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ocn_category_wall_pro_description_length" value="{{ module_ocn_category_wall_pro_description_length }}" placeholder="{{ placeholder_limit_cancel }}" id="input-description-length" class="form-control">
                  {% if error_length %}
                    <div class="text-danger">{{ error_length }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group" id="form-group-categories-type">
                <label class="col-sm-2 control-label" for="input-categories-type">{{ entry_category_type }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_categories_type" class="form-control" id="input-categories-type">
                    <option value="all" {% if module_ocn_category_wall_pro_categories_type == 'all' %}selected="selected"{% endif %}>{{ text_category_type_all }}</option>
                    <option value="selected" {% if module_ocn_category_wall_pro_categories_type == 'selected' %}selected="selected"{% endif %}>{{ text_category_type_selected }}</option>
                    <option value="custom" {% if module_ocn_category_wall_pro_categories_type == 'custom' %}selected="custom"{% endif %}>{{ text_category_type_custom }}</option>
                  </select>
                  <i class="text-info" data-type="all">{{ help_categories_type_all }}</i>
                  <i class="text-info" data-type="selected">{{ help_categories_type_selected }}</i>
                  <i class="text-info" data-type="custom">{{ help_categories_type_custom }}</i>
                </div>
              </div>
              <div class="form-group" id="form-group-categories-selected">
                <label class="col-sm-2 control-label">{{ entry_category_parent }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for category in parent_categories %}
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_ocn_category_wall_pro_categories_selected[]" value="{{ category.category_id }}" {% if category.category_id in module_ocn_category_wall_pro_categories_selected %}checked="checked"{% endif %}>
                          {{ category.name }}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                  <i class="text-info" data-text="{{ help_categories_selected }}" data-count="true"></i>
                  {% if error_categories_selected_minimum %}
                    <div class="text-danger">{{ error_categories_selected_minimum }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group"  id="form-group-categories-custom">
                <label class="col-sm-2 control-label" for="form-group-categories-input"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category_custom }}</span></label>
                <div class="col-sm-10">
                  <input type="text" placeholder="{{ entry_category }}" id="form-group-categories-input" class="form-control"/>
                  <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for category in custom_categories %}
                      <div class="checkbox">
                        <label id="product-category{{ category.category_id }}">
                          <i class="fa fa-minus-circle"></i> {{ category.name }}
                          <input type="checkbox" class="hidden" name="module_ocn_category_wall_pro_categories_custom[]" value="{{ category.category_id }}" checked="checked">
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                  <i class="text-info" data-text="{{ help_categories_selected }}" data-count="true"></i>
                  {% if error_categories_custom_minimum %}
                    <div class="text-danger">{{ error_categories_custom_minimum }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-subcategory">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-subcategory-status">{{ entry_subcategory }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_subcategory_status" id="input-subcategory-status" class="form-control">
                    <option value="1" {% if module_ocn_category_wall_pro_subcategory_status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if module_ocn_category_wall_pro_subcategory_status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-subcategory-limit">{{ entry_subcategory_limit }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ocn_category_wall_pro_subcategory_limit" value="{{ module_ocn_category_wall_pro_subcategory_limit }}" placeholder="{{ placeholder_limit_cancel }}" id="input-subcategory-limit" class="form-control">
                  {% if error_limit %}
                    <div class="text-danger">{{ error_limit }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-subcategory-collapse-status">{{ entry_collapse }}</label>
                <div class="col-sm-10">
                  <select name="module_ocn_category_wall_pro_subcategory_collapse_status" id="input-subcategory-collapse-status" class="form-control">
                    <option value="1" {% if module_ocn_category_wall_pro_subcategory_collapse_status == 1 %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                    <option value="0" {% if module_ocn_category_wall_pro_subcategory_collapse_status == 0 %}selected="selected"{% endif %}>{{ text_disabled }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-info">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                      <td>{{ text_extension_name }}:</td>
                      <td><a href="{{ data_support_extension }}" target="_blank">{{ data_extension_name }}</a></td>
                    </tr>
                    <tr>
                      <td>{{ text_author }}:</td>
                      <td><a href="{{ data_support_author }}" target="_blank">{{ data_author }}</a></td>
                    </tr>
                    <tr>
                      <td>{{ text_version_current }}:</td>
                      <td>v{{ data_current_version }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-12 col-md-6">
                  <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                      <td>{{ text_repository_name }}:</td>
                      <td><a href="{{ data_repository_extension }}" target="_blank">{{ data_repository }}</a></td>
                    </tr>
                    <tr>
                      <td>{{ text_repository_author }}:</td>
                      <td id="repository-author"><a href="{{ data_repository_author }}" target="_blank">{{ data_author_repository }}</a></td>
                    </tr>
                    <tr>
                      <td>{{ text_version_actual }}:</td>
                      <td id="repository-version" data-url="{{ url_extension_update }}" data-version="{{ data_current_version }}">
                        <button type="button" class="btn btn-info btn-sm" id="check-update">
                          <i class="fa fa-refresh" aria-hidden="true"></i>
                          {{ button_check_new }}
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">{{ data_extension_name }} v{{ data_current_version }}</div>
    </div>
  </div>
</div>
<script>
$(window).on('load', function () {
  checkType()
  countCategories()

  $('#check-update').on('click',checkUpdates);
  $('#input-categories-type').on('change', checkType);
  $('#form-group-categories-selected input').on('change', countCategories);
  $('#form-group-categories-custom input').on('change', countCategories);

  function checkType() {
    $('#form-group-categories-selected').removeClass('required');
    $('#form-group-categories-custom').removeClass('required');

    if ($('#input-categories-type').val() == 'all') {
      $('#form-group-categories-type i.text-info[data-type="all"]').removeClass('hidden');
    } else {
      $('#form-group-categories-type i.text-info[data-type="all"]').addClass('hidden');
    }

    if ($('#input-categories-type').val() == 'selected') {
      $('#form-group-categories-selected').addClass('required');
      $('#form-group-categories-type i.text-info[data-type="selected"]').removeClass('hidden');
    } else {
      $('#form-group-categories-type i.text-info[data-type="selected"]').addClass('hidden');
    }

    if ($('#input-categories-type').val() == 'custom') {
      $('#form-group-categories-custom').addClass('required');
      $('#form-group-categories-type i.text-info[data-type="custom"]').removeClass('hidden');
    } else {
      $('#form-group-categories-type i.text-info[data-type="custom"]').addClass('hidden');
    }

    countCategories();
  }

  function countCategories() {
    let counterSelected = $('#form-group-categories-selected input:checked').length;
    let counterCustom = $('#form-group-categories-custom input:checked').length;
    let textSelected = $('#form-group-categories-selected i.text-info').attr('data-text') + counterSelected;
    let textCustom = $('#form-group-categories-custom i.text-info').attr('data-text') + counterCustom;
    $('#form-group-categories-selected i[data-count=true]').text(textSelected);
    $('#form-group-categories-custom i[data-count=true]').text(textCustom);

    if (counterSelected < 1 && $('#input-categories-type').val() == 'selected') {
      $('#form-group-categories-selected i[data-count=true]').addClass('text-danger');
    } else {
      $('#form-group-categories-selected i[data-count=true]').removeClass('text-danger');
      $('#form-group-categories-selected div.text-danger').remove();
      $('#form-group-categories-selected').removeClass('has-error');
    }
    if (counterCustom < 1 && $('#input-categories-type').val() == 'custom') {
      $('#form-group-categories-custom i[data-count=true]').addClass('text-danger');
    } else {
      $('#form-group-categories-custom i[data-count=true]').removeClass('text-danger');
      $('#form-group-categories-custom div.text-danger').remove();
      $('#form-group-categories-custom').removeClass('has-error');
    }
  }

  // Category
  $('input#form-group-categories-input').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['category_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('#form-group-categories-custom-input').val('');
      $('#product-category' + item['value']).parent().remove();
      $('#product-category').append('<div class="checkbox"><label id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="checkbox" name="module_ocn_category_wall_pro_categories_custom[]" value="' + item['value'] + '" class="hidden" checked="checked"></label></div>');
      countCategories();
    }
  });

  $('#product-category').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().parent().remove();
    countCategories();
  });

  function checkUpdates() {
    let buttonCheckUpdate = $('#check-update');
    let url = $('#repository-version').attr('data-url');
    let current = $('#repository-version').attr('data-version');

    buttonCheckUpdate.prop('disabled', true);
    buttonCheckUpdate.find('i.fa').removeClass('fa-refresh').addClass('fa-spinner fa-pulse');

    $.ajax({
      type: 'get',
      url: url,
      dataType: 'json',
      success: function(response) {
        let author = '<a href="' + response.author.html_url + '" target="_blank">' + response.author.login + '</a>';
        let version = '<a href="' + response.html_url + '" target="_blank">' + response.name + '</a>';
        $('#repository-author').html(author);
        $('#repository-version').html(version);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      },
      complete: function() {
        buttonCheckUpdate.prop('disabled', false);
        buttonCheckUpdate.find('i.fa').removeClass('fa-spinner fa-pulse').addClass('fa-refresh');
      }
    });
  }
});
</script>
{{ footer }}
